@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&family=Poiret+One&family=Roboto:wght@100&display=swap');
body {background-color: #EBEDEF;}

body{font-family: 'Poiret One', cursive; text-align: center; text-align-last: center; color: #34495E;}
h1{	color: #34495E;
	background-color: #AEB6BF; 
	border-radius: 7px;
	width: 400px;
	margin:  0 auto;
} 

h2{
	color: #34495E;
	background-color: #AEB6BF; 
	border-radius: 7px;
	width: 100px;
	margin:  0 auto;
}

div {
	padding:  40px;
	border: 1px solid black;
    border-radius: 7px;
    box-shadow: #34495E 0px 0px 8px 1px;
    width: 65%;
    margin: 60px auto;
}

img	{
	border-radius: 20%;
}


ul{
	padding: 0;
	list-style: none;
}

#skills-list {
	text-align: left;
	width: 150px;
	border: none;
	margin: 0 auto;
	box-shadow: none;
	padding: 0px;
}

#mail{
	color: #0c7ded;
}

#mail:hover {
	color: white;
	transition: 0.5s;
}

#linkedin{
	color: #0c7ded;
}

#linkedin:hover {
	color: white;
	transition: 0.5s;
}

#contact{
	font-size: 30px;
	color: #0c7ded;
}

#contact:hover { 
	color: white;
	transition: 0.5s;
}

